@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  --bs-body-font-family: "Montserrat";
}

.container-fluid #main-tugas {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    border-radius: 5px;
}

#main-tugas {
  font-family: "Raleway", sans-serif;
}